*{
    /* outline: 1px solid red; */
}
:root {
    --ciColor: #ffc107;
    --bacGray: #f1f1f1;
    --backendGray: #ccc;
}
.page-body {
    padding-bottom: 100px;
}
.controll-box {
    padding: 20px;
    background-color: var(--bacGray);
    border-radius: 10px;
}
.controll-content .btn-search{
    background-color: #fff;
}
.back-end-box-title {
    font-size: 32px;
    padding: 20px 0 60px;
    font-weight: 700;
    position: relative;
}

.back-end-box-title::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: rgb(33, 37, 41);
}
.carousel-img-upfile-box{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.carousel-img-controll-box{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.carousel-img-content form {
    padding: 20px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 3px dotted var(--ciColor);
    border-radius: 5px;
    font-size: 20px;
    background-color: #fff;
}

.carousel-img-content .carousel-img-upfile-btn {
    margin-top: 20px;
}
.carousel-img-upfile {
    display: flex;
    align-items: center;
    padding-top: 4px;
}
.carousel-img-upfile-icon{
    width: 100%;
    text-align: center;
}

.carousel-img-upfile-box .fa-cloud-arrow-up {
    color: var(--ciColor);
    font-size: 48px;
}

.carousel-img-upfile-box .carousel-img-upfile-text {
    padding-right: 1em;
}

.carousel-img-upfile {
    margin-top: 1em;
}

.carousel-img-upfile-box label {
    padding: 8px 16px;
    border: 1px solid var(--ciColor);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
}

.carousel-img-upfile-box input {
    display: none;
}

.carousel-img-controll-box {
    padding-top: 20px;
}

.carousel-img-controll-group {
    padding: 20px;
    background-color: #fff;
    display: flex;
    border-radius: 5px;
}
.carousel-img-controll-item {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.carousel-img-controll-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-img-controll-box .carousel-img-controll-btn::after {
    content: "*可以拖曳更動輪播順序";
    text-align: right;
    color: gray;
    padding-left: 1em;
}

/* --------------carousel---------------- */

.back-end-box-title {
    padding: 20px 20px 40px;
    position: relative;
}
.back-end-box-title::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 20px;
    left: 0;
    right: 0;
    background-color: rgb(33, 37, 41);
}
.back-end-box-title h2{
    font-weight: 700;

}
.controll-box{
    width: 100%;
}
.controll-table{
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.controll-table-title{
    padding: 8px 0 20px;
    font-size: 10px;
}
.controll-table-thContent{
    position: relative;
}
.controll-table thead .fa-sort{
    padding-left: 0.4em;
    font-size: 12px;
    vertical-align: middle;
    color: gray;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.controll-table thead th{
    border-bottom: 2px solid #ccc;
}
.controll-table tbody tr:hover,
.controll-table tbody tr:hover th{
    background-color: var(--bacGray);
}
.controll-table th{
    word-break: keep-all;
}
.controll-table thead th:first-child,
.controll-table tbody th{
    width: 8em;
}
.controll-table tbody tr{
    cursor: pointer;
}
.controll-table-state .controll-table-tdContent{
    padding: 4px;
    border-radius: 5px;
    color: #fff;
    background-color: #0d6efd;
}
.button-group .btn{
    background-color: #fff;
}

/* --------------detail---------------- */
.detail-controll-table{
    text-align: left;
}
.detail-controll-table thead tr th:first-child,
.detail-controll-table tbody th{
    width: 12em;
}
.detail-controll-table .detail-controll-table-img {
    width: 100%;
    max-width: 220px;
}
.detail-controll-table .detail-controll-table-img img {
    width: 100%;
}
.controll-content{
    padding: 0 20px 20px;
}
.alter-controll-content{
    padding: 20px;
}